<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>PAYMENT</th>
      <th>Shopping Cart</th>
      <th>Sale count</th>

    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item %></td>
        <td><%=number_to_currency item.price/100 %></td>
        <td>
          <% if @cart.include?(item) %>
            <%= button_to "Remove from cart", remove_from_cart_path(item), method: :delete %>
          <% else %>
            <%= button_to "Add to cart", add_to_cart_path(item) %>
          <% end %>
        </td>
        <td><%= button_to "Buy now!", checkout_create_path, params: [id: item.id],  method: :post, data: {turbo: false} %></td>
        <td><%= item.sales_count %></td>

       <td><%= link_to "show", item%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

   <%= link_to "New Item", new_item_path %>