<!DOCTYPE html>
<html>
  <head>
    <title>Shopify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to "Item", items_path %>

  <% if current_user %>
    <%= link_to current_user.email, edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>

  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <%end%>

  <hr>
  <h1>Shopping Cart</h1>
  <% if @cart.empty? %>
    <p>Your cart is empty.</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
  
        </tr>
      </thead>
      <tbody>
        <% @cart.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
      
          </tr>
        <% end %>
        <%= button_to "Buy now!", checkout_create_path,  method: :post, data: {turbo: false} %>
      </tbody>
    </table>
    <%end%>

    <hr>

    <%= yield %>
  </body>
</html>
