<!DOCTYPE html>
<html>
  <head>
    <title>Shopify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to "Item", items_path %>
  <%= render "layouts/nav" %>
  <hr>
  
    <%= render "layouts/cart" %>
    <hr>

    <%= yield %>
  </body>
</html>
